log_format timed_combined '$remote_addr - $remote_user [$time_local] '
'"$request" $status $body_bytes_sent '
'"$http_referer" "$http_user_agent" '
'$request_time $upstream_response_time $pipe';

server {
    listen 80;
    #listen 443 ssl;
    server_name 127.0.0.1;

    # They never request frequantly, so keep-alive is meaningless for them.
    keepalive_timeout 60;
    client_max_body_size 60M;

    gzip on;
    gzip_comp_level 6;
    gzip_min_length 1000;
    gzip_proxied any;
    gzip_buffers 16 32k;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;
    gzip_disable "msie6";

    access_log /var/app/log/sckpu/access.log timed_combined;
    error_log /var/app/log/sckpu/error.log;

    # Fix proxy problem.
    set $foreign_addr $remote_addr;
    if ($http_x_real_ip) {
        set $foreign_addr $http_x_real_ip;
    }
    proxy_set_header X-Real-IP $foreign_addr;

    set $real_server_name $server_name;
    if ($http_x_real_server) {
        set $real_server_name $http_x_real_server;
    }
    proxy_set_header X-Real-Server $real_server_name;
    proxy_set_header X-Real-Port $server_port;
    set $real_secure "off";
    if ($server_port = 443) {
        set $real_secure "on";
    }
    proxy_set_header X-Real-HTTPS $real_secure;

    location = /favicon.ico { access_log off; log_not_found off; }


    location /media/sckpu {
        alias /var/app/media/sckpu;
        #expires 30d;
    }

    location /static/sckpu {
        alias /var/app/static/sckpu;
        #expires 30d;
    }

    location / {
        uwsgi_pass operation;
        include uwsgi_params;
        uwsgi_send_timeout 1800;
        uwsgi_read_timeout 1800;
        uwsgi_connect_timeout 1800;
    }

    location /nginx-status {
        stub_status on;
        access_log off;
        allow 127.0.0.1;
        deny all;
    }
}

upstream operation {
        server 127.0.0.1:7600;
}