<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>Home</title>
    <meta name="keywords" content="关键词" />
    <meta name="description" content="描述" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/jquery.js"></script>
    <script src="js/base.js"></script>
    <script src="js/main.js"></script>
    <script src="js/respond.js"></script>
  </head>
  <body>
    <div class="layout container-layout padding-large-top padding-big-bottom bg-white-opacity fixed" id="header">
          <div class="line">
            <div class="xl12 xs4 xm6 xb5 text-center">
              <button class="button icon-navicon float-right" data-target="#header-nav"></button>
              <a href="#"><img id="logo" src="image/logo2.jpg" alt="logo" /></a>
            </div>
            <div class="xl12 xs8 xm6 xb7 padding-nav-top">
                <ul class="nav nav-menu nav-inline nav-navicon" id="header-nav">
                  <li  class="active"><a href="index.html">首页</a></li>
                  <li><a href="about.html">简介</a></li>
                  <li><a href="team.html">咨询团队</a></li>
                  <li><a href="project.html">成功案例</a></li>
                  <li><a href="contact.html">联系我们</a></li>
                  </li>
                </ul>
             </div>
          </div>
    </div>

    <div class="line about">
       <h2 class="page-title">关于我们</h2>
        <div class="detail">
          <img src="./image/apple.png" class="hidden-l hidden-s" style="width:40%;float:right;" />
          <p style="overflow:hidden;text-align:justify;line-height:2em;font-size:14px;color:#333;">
          中国中化集团公司（简称中化集团，英文简称Sinochem Group）成立于1950年，前身为中国化工进出口总公司，历史上曾为中国最大的外贸企业。现为国务院国有资产监督管理委员会监管的国有重要骨干企业，总部设在北京。
中化集团主业分布在能源、农业、化工、地产、金融五大领域，是中国四大国家石油公司之一，最大的农业投入品（化肥、种子、农药）一体化经营企业，领先的化工产品综合服务商，并在高端地产酒店和非银行金融领域具有较强的影响力。作为一家立足市场竞争的综合性跨国企业，中化集团提供的优质产品和专业服务广泛应用于社会生产和人们衣食住行方方面面，“中化”和“SINOCHEM”的品牌在国内外享有良好声誉。
中化集团现在境内外拥有300多家经营机构，控股“中化国际”（SH, 600500）、“中化化肥”（HK, 00297）、“方兴地产”（HK, 00817）等多家上市公司，是“远东宏信”（HK, 03360）的第一大股东，并于2009年6月整体重组改制设立中国中化股份有限公司。
中化集团也是最早入围《财富》全球500强的中国企业之一，迄今已24次入围，2014年名列第107位；并于2013年、2014年连续两年被《财富》评为“全球最受赞赏公司”，位列贸易行业榜首位。多年来中化集团坚持不懈推进战略转型和管理变革，实现了企业持续、健康、快速发展。在国务院国资委业绩考核中，中化集团连续十年、连续三个任期均被评为A级。
中化集团的愿景是建设成为一个具有全球地位、受人尊敬的伟大公司。全球五万多名中化人将继续秉持“创造价值、追求卓越”的核心理念，努力恪守企业公民的社会责任，致力于科学发展、和谐发展、绿色发展，矢志打造长青基业，持续为利益相关方及社会大众创造福祉。
          </p>
        </div>
    </div>


    <div class="container-layout  bg-inverse"  id="footer" >

      <div id="footer-list">
        <div class="line">
            <div class="table-responsive  xm1-move xm7  xb3-move xb6  hidden-l hidden-s">
                <ul class="nav nav-sitemap">
                  <li><span class="title" href="#">新闻资讯</span>
                    <ul>
                      <li><a href="#"><span class="icon-facebook-square text-big"></span>新闻公告</a></li>
                      <li><a href="#"><span class="icon-twitter text-big"></span>业界资讯</a></li>
                      <li><a href="#"><span class="icon-linkedin text-big"></span>媒体报道</a></li>
                    </ul>
                  </li>
                  <li><span  class="title" href="#">产品中心</span>
                    <ul>
                      <li><a href="#"><span class="icon-pagelines text-big"></span>产品分类</a></li>
                      <li><a href="#"><span class="icon-qq text-big"></span>产品品牌</a></li>
                      <li><a href="#"><span class="icon-skype text-big"></span>产品特色</a></li>
                    </ul>
                  </li>
                  <li><span  class="title" href="#">技术反馈</span>
                    <ul>
                      <li><a href="#"><span class="icon-youtube text-big"></span>售后服务</a></li>
                      <li><a href="#"><span class="icon-weibo text-big"></span>营销网络</a></li>
                      <li><a href="#"><span class="icon-wordpress text-big"></span>服务支持</a></li>
                    </ul>
                  </li>
                </ul>
                <div class="text-center rights">版权所有 © Pintuer.com All Rights Reserved，图ICP备：380959609</div>
            </div>
            <div class="xl12 xs12 xm4 xb3 text-center" id="qrcode">
                <img src="./image/qrcode.png" />
                <p>@xiaoxin 关注威信</p>
            </div>
        </div>
      </div>
    </div>


  </body>
</html>