{% extends "base.html" %}

{% block title %}<title>联系我们</title>{% endblock %}

{% block content %}
  <div class="line contact">
      <div class="nav-info">
        <h2 class="page-title">联系我们</h2>
        <div class="divider"></div>
    </div>
     <div class="contact-detail">
          <dl>
            <dt>联系人</dt>
            <dd>{{site.name}}</dd>
          </dl>

          <dl>
            <dt>联系电话</dt>
            <dd>{{site.phone}}</dd>
          </dl>

          <dl>
            <dt>通讯地址</dt>
            <dd>{{site.address}}</dd>
          </dl>
     </div>
  </div>
  <div class="line" style="width:100%;height:250px;" id="dituContent">
  </div>
{% endblock %}

