{% extends "base.html" %}{% load static %}

{% block title %}<title>首页</title>{% endblock %}
{% block extracss %}
  <style>
  .nav-box-bgimg {
  background: #fff url("{{ home.navguide.image.url }}") no-repeat center center;
  background-size: cover;
  }
  </style>
{% endblock %}
{% block content %}
      <div class="line keypoint text-center nav-box nav-box-bgimg">
          <h1>{{ home.navguide.title }}</h1>
          <p>{{ home.navguide.sub_title }}</p>
          <p class="padding-big-top"><a href="{{ home.navguide.link }}" class="button button-big radius-rounded nav-box-button">{{ home.navguide.name }}</a></p>
      </div>
      <div class="line keypoint text-center intro">
            <div class="intro-area">
                <h2>{{ home.navguide.slogan_title }}</h2>
                <p>{{ home.navguide.slogan_sub_title }}</p>
            </div>
      </div>
      <div class="line keypoint features text-center">
        {% for nav_item in navlist %}
          <div class="xl12 xs6 xm4 xb4">
            <div class="media clearfix">
              <a href="{{ nav_item.link }}"><img src="{{ nav_item.image.url }}" class="radius" alt="icons"></a>
              <div class="media-body">
                <h3>{{ nav_item.title }}</h3>
                <p>{{ nav_item.sub_title }}</p>
              </div>
            </div>
          </div>
       {% endfor %}
      </div>

      {% for project in projects %}
      <div class="line keypoint cases text-center">
            <a href="{% url 'project_detail' project.id %}"><img src="{{ project.image.url }}" class="cases-img" title="Apple Concept"></a>
            <h3><a href="{% url 'project_detail' project.id %}">{{ project.title }}</a></h3>
            <p class="metadata">{{ project.sub_title }}</p>
            <div class="cases-content">{{ project.content|safe|slice:"150" }}...</div>
      </div>
      {% endfor %}
{% endblock %}