{% extends "base.html" %}{% load static %}

{% block title %}<title>咨询团队</title>{% endblock %}

{% block content %}
{% for team_members in team_member %}
      <div class="line team">
            <div class="team-intro">
                <h2 class="page-title">{{ team_members.team.title }}</h2>
                <p>{{ team_members.team.sub_title }}</p>
                <div class="divider"></div>
            </div>
      {% for member in team_members.members %}
          {% if forloop.first %}
            <div class="team-mem line team-mem-star">
                <div class="xb12">
                        <img src="{{member.portrait.url}}" class="img-border radius"   alt="...">
                        <h3 class="name">{{member.name}}</h3>
                        <h4 class="rank">{{member.career}}</h4>
                        <div>{{member.content|safe}}</div>
                </div>
            </div>
            {% else %}
            <div class="team-mem line">
              <div class="xl12 xs6 xm4 xb3 team-pic">
                <div class="media clearfix">
                  <a href="#"><img src="{{member.portrait.url}}" class="radius-circle"   alt="..."></a>
                  <div class="media-body">
                    <strong>{{member.name}}</strong>
                    <p>{{member.career}}</p>
                  </div>
                </div>
              </div>
              <div class="xl12 xs6 xm8 xb9">
                    <div class="team-mem-intro">
                        <div>{{member.content|safe}}</div>
                    </div>
              </div>
            </div>
             {% endif %}
        {% endfor %}
    </div>
  {% endfor %}
{% endblock %}